/* GENERAL RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

i {
    cursor: pointer;
}
i:hover {
    filter: brightness(70%);
}

:root {
    --primary-color: #bababa;
    --secondary-color: #777e82;
    --tertiary-color: #a2dffe;
    --quaternary-color: #ededed;
    --quinary-color: #fbfbfb;
    --senary-color: #f4f0ed;
    --sent-color: rgb(221, 250, 191);

    --fsz-1: 2rem;
    --fsz-2: 1.8rem;
    --fsz-3: 1.5rem;
    --fsz-3-2: 1.2rem;
    --fsz-4: .9rem;
    --fsz-5: .8rem;
    --fsz-6: .6rem;
}

/* UTILITIES */
    /* sizing */
        /* height */
        .h-100 {height: 100%;}

        /* width */
        .w-100 {width: 100%;}
        .w-50 {width: 50%;}
        .w-25 {width: 25%;}

    /* flex */
    .flex {display: flex;}
    .jcc {justify-content: center;}
    .al-items-c {align-items: center;}
    .space-between {justify-content: space-between;}
    .space-around {justify-content: space-around;}
    .flex-columns {flex-direction: column;}
    .grow-1 {flex-grow: 1;}

    /* display */
    .d-none {display: none;}
    /* grid */
    .grid-center {
        display: grid;
        place-items: center;
    }

    /* border-radius */
    .rounded {border-radius: 50%;}
    .pill {border-radius: 200px;}
    /* border */
    .no-border {border: none;}
    /* spacing */
        /* padding */
        .p-0 {padding: 0;}
        .p-05 {padding: .4rem;}
        .p-1 {padding: .5rem;}
        .p-2 {padding: 1rem;}
        .p-3 {padding: 1.5rem;}
        .p-4 {padding: 2rem;}
        .p-5 {padding: 4rem;}
        .p-6 {padding: 5rem;}
        .px-6 {padding-inline: 5rem;}
        .py-5 {padding-block: 4rem;}
        /* margin */
        .mr-1 {margin-right: .5rem;}
        .mr-2 {margin-right: .9rem;}

        .mt-1 {margin-top: .5rem;}

        .mb-1 {margin-bottom: 20px;}

        .my-1 {margin-block: .5rem;}
    /* typography */
        /* colors */
        .primary-color {color: var(--primary-color);}
        .secondary-color {color: var(--secondary-color);}
        .tertiary-color {color: var(--tertiary-color);}
        /* sizes */
        .fsz-1 {font-size: var(--fsz-1);}
        .fsz-2 {font-size: var(--fsz-2);}
        .fsz-3 {font-size: var(--fsz-3);}
        .fsz-3-2 {font-size: var(--fsz-3-2);}
        .fsz-4 {font-size: var(--fsz-4);}
        .fsz-5 {font-size: var(--fsz-5);}
        .fsz-6 {font-size: var(--fsz-6);}

        /* weigth */
        .fw-bold {font-weight: bold;}

        /* aligning */
        .align-right {text-align: right;}

    /* buttons */
    .btn {
        margin-inline: auto;
        padding: 12px 18px;
        font-weight: bold;
        cursor: pointer;
        transition: .1s ease-in-out;
    }
    .pill.btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn:hover {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    }

    /* backgrounds */
    .primary-bg {background-color: var(--primary-color);}
    .secondary-bg {background-color: var(--secondary-color);}
    .tertiary-bg {background-color: var(--tertiary-color);}
/* STYLING */
body {
    height: 100vh;
    background: linear-gradient(to bottom, #66bcc7 0%, #66bcc7 15%, #dfe0d8 15%, #dfe0d8 100%);
    overflow: hidden;
}

main {
    width: 80vw;
    height: 94vh;
    display: flex;
    background-color: white;
}

.clickable_overlay {
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    pointer-events: none;
}

.clickable_overlay.clickable {
    pointer-events: all;
}

.container {
    overflow: hidden;
    border-radius: 5px;
}

/* ASIDE */

.contacts {
    width: 33%;
    overflow-y: auto;
}

header {
    height: 70px;
    background-color: var(--quaternary-color);
}

input:focus {
    outline: 3px solid var(--tertiary-color);
    outline-offset: 1px;
}

.contacts header.user .avatar img {
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

.contacts header.user .details {
    width: 60%;
}

.contacts header.user .actions {
    width: 25%;
    justify-self: flex-end;
    color: var(--primary-color);
}

.notifications-alert {
    height: 80px;
    background-color: var(--tertiary-color);
}

.notification-bell {
    background-color: white;
    color: var(--tertiary-color);
    aspect-ratio: 1 / 1;
    height: 80%;
}

.search-bar {
    background-color: var(--quinary-color);
}

.search-bar .search-icon {
    width: 15%;
    border: 1px solid var(--quaternary-color);
    border-right: 0;
    background-color: white;
}

.search-bar input {
    width: 85%;
    border: 1px solid var(--quaternary-color);
}


.person {
    height: 80px;
    border-bottom: 1px solid var(--quaternary-color);
    cursor: pointer;
}

.person:hover,
.person.active {
    background-color: var(--quaternary-color);
}

.person .avatar img {
    height: 100%;
}

.person .details {
    width: 75%;
}

.person .details .last-access {
    align-self: flex-end;
}

/* MESSAGE AREA */

.filter-messages-bar {
    display: flex;
    position: absolute;
    top: 6rem;
    left: 4rem;
    z-index: 1;
    width: calc(100% - 8rem);
}

.filter-messages-bar input {
    flex-grow: 1;
    height: 100%;
    opacity: .8;
    font-weight: bold;
}

.filter-messages-bar > * {
    width: 100%;
}

.message-area {
    position: relative;
}

.message-area .body-message {
    background-image: url("../img/mine.jpg");
    background-position: center;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.new-message {
    height: 70px;
    background-color: var(--senary-color);
}

input::placeholder {
    font-size: var(--fsz-4);
    color: var(--secondary-color);
    font-weight: bold;
}

input.message-input {
    margin-inline: var(--fsz-3-2);
    height: 80%;
    border: none;
    border-radius: 4px;
}

.message-input::placeholder {
    font-weight: 400;
    font-size: var(--fsz-3-2);
}

.message {
    padding: 1rem;
    padding-top: 1.4rem;
    border-radius: 10px;
    max-width: 450px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    position: relative;
}

.message .repliedMessage {
    transform: translate(-1.8rem, 0);
    background: rgba(0, 0, 0, .2);
    font-size: .85rem;
    padding: 5px;
    margin-block: 5px;
    border-radius: 8px;
    z-index: 0;
}

.message .messageOptions {
    position: absolute;
    right: 15px;
    top: 5px;
    height: 1px;
    z-index: 3;
    background-color: transparent;
    transition: all .1s ease-in-out;
    opacity: 0;
}
.message .messageOptions.visible {
    opacity: 1;
}

.message .i_wrap {
    position: absolute;
    right: .5rem;
    top: 3px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.messageOption {
    padding: 10px 15px;
    background-color: var(--senary-color);
    border: 1px solid black;
    min-width: 160px;
    font-weight: bold;
    position: relative;
    top: 25px;
}

.messageOption:first-of-type {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.messageOption:last-of-type {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.messageOption:hover {
    background-color: var(--primary-color);
    color: var(--senary-color);
    cursor: pointer;
}

.message.sent {
    align-self: flex-end;
    background-color: var(--sent-color);
}

.message.received {
    align-self: flex-start;
    background-color: white;
}

.message .message_picture img {
    max-width: 100%;
}

.replyMessage {
    position: absolute;
    bottom: 140px;
}

.replyMessage.nope {
    opacity: 0;
    pointer-events: none;
}

.replyMessage i.fas {
    width: 15px;
    aspect-ratio: 1;
    margin-left: calc(100% - 15px);
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.replyMessage .replyTo {
    background: rgba(0, 0, 0, .1);
    width: 100%;
    min-height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    color:rgba(0, 0, 0, .6);
    border-radius: 4px;
}

.replyMessage .replyInput {
    background-color: rgba(255, 255, 255, .8);
    padding: 5px 3px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    width: 100%;
    min-height: 15px;
}

.replyInput:focus {
    outline: none;
}

.chat-options {
    height: 0px;
    background-color: var(--quaternary-color);
    transition: all .2s ease-in;
}

.chat-options .top {
    height: 50px;
    line-height: 50px;
    background-color: var(--senary-color);
    padding-inline: calc(1.4rem + 54px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-options .top .close {
    height: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: all .15s ease;
    color: var(--secondary-color);
}

.chat-options .top .close:hover {
    background-color: #00000015;
    color: black;
}

.chat-options .bottom {
    display: flex;
    height: calc(100% - 50px);
    border: 1px solid rgba(0, 0, 0, .1);
}

.chat-options .bottom .left,
.chat-options .bottom .right {
    height: 100%;
    padding: 1rem;
    display: flex;
}

.chat-options .bottom .left {
    width: 35%;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, .1);
}
.chat-options .bottom .left img {
    height: 75%;
    box-shadow: 0 0 15px rgba(0, 0, 10, .2),
    0 0 35px rgba(0, 0, 10, .1);
}
.chat-options .bottom .right {
    width: 65%;
    flex-direction: column;
    justify-content: space-evenly;
}